* {
	margin: 0;
	padding: 0;
}

#box {
	/* max-width: 750px;
    min-width: 320px; */
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 1;

}
html {
	font-size: 75px;
}

/* 背景图 */
.index_banner {
	height: 6.506666rem;
	position: relative;
}
.idnex_banner-bg{
	padding: 0.266666rem 0.4rem;
	width: 10rem;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
}
.idnex_banner-bg-l-img{
	display: inline-block;
	width: 2.08rem;
	height: 0.613333rem;
}
.idnex_banner-bg-r{
	width: 16px;
	height: 13px;
	opacity: 1;
	font-size: 18px;
	color: #FFFFFF;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	/* color: #333333; */
}
.index_banner .index_banner_img {
	width: 100%;
	height: 100%;
	/* background-color: aqua; */
}
/* 隐藏列表 */
.index_banner_list{
	/* display: none; */
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	width: 7.653333rem;
	height: 6.506666rem;
	padding: 0.4rem;
	padding-top: 0;
	box-sizing: border-box;
}
.index_banner_list-img{
	position: relative;
	float: right;
	opacity: 1;
	font-size: 0.693333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
}
.img{
	position: relative;
	height: 0.8rem;
}
.index_banner_list-item{
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1;
	
}
.index_banner_list-items{
	padding-left: 0.466666rem;
	border-bottom: 1px solid #F0F0F0;
	height: 1.066666rem;
	line-height: 1.066666rem;
}
/* 相关信息 */
.index_crotchety {
	opacity: 1;
	background: #ebf5ff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 1.066666rem;
}

.index_crotchety .index_crotchety_item {
	/* width: 2.666666rem; */
	display: flex;
	align-items: center;
	height: 1.066666rem;
}

.index_crotchety_item img {
	vertical-align: middle;
	width: 0.413333rem;
	height: 0.373333rem;
	margin-right: 0.066666rem;
	/* background-color: aliceblue; */
}

.index_crotchety_item .index_crotchety_con {
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
}

/* 课程中心 */
.index_course {

	/* height: 9.2rem; */
	box-sizing: border-box;
	padding: 0.64rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index_course_title::before {
	content: '';
	position: absolute;
	top: 20%;
	left: -13%;
	width: 0.32rem;
	height: 0.32rem;
	opacity: 0.3;
	background: #6232e5;
	border-radius: 0.16rem;
}

.index_course_title::after {
	content: '';
	position: absolute;
	top: 0%;
	left: -6%;
	width: 0.266666rem;
	height: 0.32rem;
	opacity: 0.3;
	background: #3258e5;
}
.index_student_title::before {
	content: '';
	position: absolute;
	top: 18%;
	left: -6%;
	width: 0.32rem;
	height: 0.32rem;
	opacity: 0.3;
	background: #6232e5;
	border-radius: 0.16rem;
}

.index_student_title::after{
	content: '';
	position: absolute;
	top: 0%;
	left: -2%;
	width: 0.266666rem;
	height: 0.32rem;
	opacity: 0.3;
	background: #3258e5;
}
.index_student_title{
	position: relative;
	/* width: 1.92rem; */
	height: 0.666666rem;
	opacity: 1;
	font-size: 0.48rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
	margin-bottom: 0.106666rem;
}
.index_course_title {
	position: relative;
	/* width: 1.92rem; */
	height: 0.666666rem;
	opacity: 1;
	font-size: 0.48rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
	margin-bottom: 0.106666rem;
}

.index_course_con {
	width: 6.4rem;
	height: 0.453333rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #888888;
	margin-bottom: 0.533333rem;
}

.index_course_button {
	text-align: center;
	width: 4.8rem;
	height: 0.853333rem;
	padding-top: 0.16rem;
	opacity: 1;
	background: #3258e5;
	border-radius: 0.426666rem;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	/* text-align: left; */
	color: #ffffff;
	letter-spacing: 0.04rem;
}

.index_course_lun-c{
	width: 10rem;
	height: 4.426666rem;
	overflow: auto;
	margin-bottom: 0.4rem;
}
.index_course_lun{
	width: 18.666666rem;
	height: 4.426666rem;
	display: flex;
	/* overflow: hidden; */
}
 .index_course_lun-c::-webkit-scrollbar {
        display: none;
    }
.index_course_lun-i{
	padding: 0.266666rem 0;
	width: 3.68rem;
	height: 4.293333rem;
	opacity: 1;
	background: #ebf5ff;
	border-radius: 0.16rem;
	box-shadow: 0 0.133333rem 0.266666rem 0px rgba(155,173,214,0.46); 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin:  0 0.466666rem;
}
.course_item_title {
	/* width: 1.92rem; */
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.346666rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
}

.course_item_img {
	/* width: 1.946666rem; */
	/* height: 1.533333rem; */
}

.course_item_btn {
	padding: 0 0.266666rem;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 0.533333rem;
	opacity: 1;
	background: #3258e5;
	border-radius: 0.266666rem;
	table-layout: fixed;
	margin: 0.066666rem 0;
}

.course_item_btn>img {
	vertical-align: middle;
	width: 0.24rem;
	height: 0.213333rem;
	margin-right: 0.066666rem;
}

.course_item_btn>span {
	display: inline-block;
	opacity: 1;
	font-size: 0.166666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #ffffff;
}

/* 课程大纲 */
.index_outline_navs {
	width: 9.213333rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #b6cdf0;
}

.outline_nav {
	/* width: 2.666666rem; */
	display: flex;
	align-items: center;
	height: 0.546666rem;
	position: relative;
}
.outline_nav_xian{
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0.8rem;
	height: 0.08rem;
	background:#3258E5;
}
.outline_nav img {
	vertical-align: middle;
	width: 0.28rem;
	/* height: 0.306666rem; */
	margin-right: 0.066666rem;
	/* background-color: aliceblue; */
}

.outline {
	padding: 0 0.373333rem;
	box-sizing: border-box;
}

.outline_nav .outline_nav_con {
	position: relative;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
}
.outline_nav_title {
	padding: 0 0.133333rem;
	position: relative;
	margin-top: 0.533333rem;
	/* width: 6.133333rem; */
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: left;
	color: #333333;
	margin-bottom: 0.36rem;
}

.outline_nav_title::before {
	content: '';
	width: 0.08rem;
	height: 0.293333rem;
	opacity: 0.3;
	background: #3258e5;
	position: absolute;
	top: 25%;
	left: 0;
}

.outline_nav_cons {
	display: flex;
	flex-wrap: wrap;
}

.outline_nav_cons_s::before {
	content: '';
	width: 0.08rem;
	height: 0.08rem;
	position: absolute;
	top: 40%;
	left: -4%;
	opacity: 1;
	background: #9fc9fa;
	border-radius: 50%;
}

.outline_nav_cons_s {
	position: relative;
	box-sizing: border-box;
	width: 25%;
	height: 1.333333rem;
	/* opacity: 0.3; */
	border-left: 2px solid #EEF6FE;
	margin-bottom: 0.533333rem;
}

.outline_nav_con_index {
	padding-bottom: 0.533333rem;
	padding-left: 0.186666rem;
	box-sizing: border-box;
	width: 100%;
	height: 0.4rem;
	font-size: 0.32rem;
	color: #83b1F9;
}

.outline_nav_con_con {
	border-top: 1px solid #EEF6FE;
	/* margin: 0.266666rem 0; */
	padding: 0 0.16rem;
	padding-top: 0.066666rem;
	box-sizing: border-box;
	/* width: 1.866666rem; */
	height: 0.746666rem;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #666666 !important;
}

.outline_feature {
	width: 9.2rem;
}

/* 项目特色内容 */
.outline_feature_items {
	padding: 0 0.266666rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.outline_feature_item {
	margin-bottom: 0.4rem;
	/* opacity: 0.6; */
	background: #ebf5ff;
	border-radius: 20px;
	padding: 0.346666rem 0;
	box-sizing: border-box;
	width: 31%;
	height: 3.546666rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.feature_item-img {
	width: 0.666666rem;
	height: 0.666666rem;
	margin-bottom: 0.24rem;
}

.feature_item-title {
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
	margin-bottom: 0.226666rem;
}

.feature_item-con {
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #666666;
	/* padding: 0 0.6rem; */
}

.index_outline_button {
	width: 4.8rem;
	height: 0.853333rem;
	padding-top: 0.16rem;
	opacity: 1;
	background: #3258e5;
	border-radius: 0.426666rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	letter-spacing: 0.04rem;
}

/* 教研团队 */
.index_research {
	margin-top: 0.666666rem;
	padding: 0 0.266666rem;
	/* height: 12rem; */
}

.index_research_con {
	width: 8.666666rem;
	height: 1.28rem;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #888888;
}

.research_con_s {
	font-size: 0.373333rem;
}

.index_research_con-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.research_con-info-item {
	text-align: center;
}

.research_con-info-item-1 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	opacity: 1;
	font-size: 0.586666rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	color: #333333;
}
.research_con-info-item-1-s{
	display: inline-block;
	font-size: 0.373333rem;
}
.research_con-info-item-2 {
	font-size: 0.373333rem;
}

.research_con-info-item-3 {
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #666666;
}
.research_item_img {
	width: 100%;
	height: 4.986666rem;
}

.research_item_img>img {
	width: 100%;
	height: 100%;
}

.research_item_con {
	width: 100%;
	padding: 0 0.106666rem;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #666666;
}

.research_item_con-c {
	height: 0.533333rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.133333rem;
}

.research_item_con-cs>div:nth-child(1) {
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
	border-bottom: 4px solid #000000;
}

.index_research_button {
	margin-top: 0.533333rem;
	width: 4.8rem;
	height: 0.853333rem;
	padding-top: 0.16rem;
	opacity: 1;
	background: #3258e5;
	border-radius: 0.426666rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	letter-spacing: 0.04rem;
}
/* 老师信息 */
.index_research-teacher{
	width: 10rem;
	/* height:6.133333rem; */
	overflow-x: auto;
}
  .index_research_lun {
	  display: flex;
      /* height: 6.133333rem; */
	  margin-top:0.4rem;
    }
    .index_research_i {
		/* padding:0.4rem 0; */
		box-sizing: border-box;
        width: 8.32rem !important;
        height: 6.133333rem;
		background: #f3f9ff;
		display: flex;
		margin: 0 0.4rem;
    } 
	.research_i-img{
		width: 4rem;
		/* height: 6.133333rem; */
	}
	.index_research-teacher::-webkit-scrollbar {
	       display: none;
	   }
	.research_i-img>img{
		width: 100%;
		/* height: 5.333333rem; */
		height: 100%;
	}
	.research_i-info{
		width: 4.32rem;
		padding: 0.16rem;
		padding-bottom: 0;
		box-sizing: border-box;
	}
	.research_i-info-top{
		display: flex;
		justify-content: space-between;
		height: 0.666666rem;
		/* padding-bottom: 0.133333rem; */
		/* opacity: 0.3; */
		border-bottom: 0.026666rem solid #999999;
	}
	.research_i-info-top>div:nth-child(1){
		opacity: 1;
		font-size: 0.373333rem;
		font-family: PingFang SC, PingFang SC-Bold;
		font-weight: 700;
		text-align: center;
		color: #333333;
	}
	.research_i-info-top>div:nth-child(2){
		opacity: 1;
		font-size: 0.266666rem;
		font-family: PingFang SC, PingFang SC-Regular;
		font-weight: 400;
		text-align: center;
		color: #333333;
	}
	.research_i-info-center{
		display: flex;
		justify-content: space-around;
		margin: 0.16rem 0 0.28rem 0;
	}
	.research_i-info-center>div{
		margin: 0 0.133333rem;
		/* padding: 0.026666rem; */
		flex: 1;
		/* width: 1.466666rem; */
		height: 0.4rem;
		line-height: 0.4rem;
		opacity: 1;
		background: #3258e5;
		border-radius: 0.213333rem;
		font-size: 0.266666rem;
		font-family: PingFang SC, PingFang SC-Regular;
		font-weight: 400;
		text-align: center;
		color: #ffffff;
	}
	.research_i-info-bottom{
		/* height: ; */
		flex: 1;
		opacity: 1;
		font-size: 0.266666rem;
		font-family: PingFang SC, PingFang SC-Regular;
		font-weight: 400;
		text-align: left;
		color: #666666;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 10;
		overflow: hidden;
	}
/* 学员 */
.index_student {
	margin-top: 0.666666rem;
}

.index_student_con {
	text-align: center;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #888888;
}

.index_student_imgs {
	box-sizing: border-box;
	padding: 0.4rem;
	margin-top: 0.4rem;
	width: 10rem;
	height: 12.226666rem;
	opacity: 1;
	background: #3258e5;
}

.student_imgs_item {
	width: 25%;
	height: 3.066666rem;
	/* float: left; */
	margin-bottom: 0.2rem;
	/* text-align: center; */
}
.index_student_imgs-i {
	height: 9.92rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.student_imgs_item-img {
	margin-left: 0.2rem;
	width: 1.866666rem;
	height: 1.866666rem;
	opacity: 1;
	background: #e9f2fb;
	border: 0.106666rem solid #5e7ef6;
	border-radius: 50%;
	text-align: center;
	line-height: 1.866666rem;
}

.student_imgs_item-img>img {
	margin-top: 0.24rem;
	/* width: 1.333333rem;
	height: 1.333333rem; */
	opacity: 1;
	background: rgba(0, 0, 0, 0.00);
}

.student_imgs_item-con {
	/* width: 1.333333rem; */
	padding: 0.306666rem;
	padding-top: 0.133333rem;
	padding-bottom: 0;
	/* height: 0.72rem; */
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	line-height: 0.346666rem;
}

.index_student_button {
	margin: auto;
	padding-top: 0.16rem;
	width: 4.8rem;
	height: 0.853333rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.426666rem;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
	letter-spacing: 0.04rem;
}
/* 辉达动态 */
.index_dynamic_con{
	width: 7.68rem;
	/* height: 0.906666rem; */
	text-align: center;
}
.index_dynamic_info{
	padding: 0 0.4rem;
	padding-top: 0.293333rem;
	width: 10rem;
	/* height: 12.373333rem; */
	opacity: 1;
	background: #ebf5ff
}
.dynamic_info-top-title{
	width: 1.493333rem;
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: left;
	color: #333333;
}
.dynamic_info-top-con{
	display: flex;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #666666;
	padding-bottom: 0.133333rem;
}
.dynamic_info-top-con-img{
	width: 4.16rem;
	height:4.266666rem;
	opacity: 1;
	background: rgba(0,0,0,0.00);
}
.dynamic_info-top-con-items{
	width: 5.44rem;
}
.dynamic_info-top-con-item{
	margin-left: 0.173333rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.28rem;
}
.dynamic_info-top-con-item-r-con{
	width: 4.346666rem;
	height: 0.8rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.dynamic_info-top-con-item-l{
	padding: 0.026666rem;
	width: 0.64rem;
	height: 0.373333rem;
	line-height: 0.373333rem;
	opacity: 1;
	background: #3258e5;
	font-size: 0.266666rem;
	border-radius: 0.186666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #f6f3eb;
	margin-right: 0.066666rem;
}
.dynamic_info-top-con-item-r-title{
	width: 4.186666rem;
	height: 0.453333rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.dynamic_info-bottom-item{
	display: flex;
	margin: 0.266666rem 0;
}
.dynamic_info-bottom-item:nth-child(1)>.dynamic_info-bottom-item-l{
	background: #3258e5;
}
.dynamic_info-bottom-item:nth-child(2)>.dynamic_info-bottom-item-l{
	background: #6c88f2;
}
.dynamic_info-bottom-item:nth-child(3)>.dynamic_info-bottom-item-l{
	background: #a5b8ff;
}
.dynamic_info-bottom-item-l{
	width: 0.426666rem;
	height: 0.426666rem;
	line-height:0.426666rem ;
	opacity: 1;
	background: #d1dce7;
	border-radius: 0.213333rem;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	margin-right: 0.186666rem;
}
.dynamic_info-bottom-item-r{
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #666666;
}
.index_dynamic_info-bottom-title{
	width: 1.493333rem;
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: left;
	color: #333333;
}
/* 校园环境 */
.index_campus_con{
	text-align: center;
}
.index_campus-imgs{
	padding: 0 0.4rem;
	box-sizing: border-box;
	width: 10rem;
	height: 5.306666rem;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
.index_campus-imgs-items{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-right: 0.346666rem;
	margin-bottom: 0.266666rem;
}
.index_campus-imgs-items:nth-child(even){
	margin-right: 0;
}
.campus-imgs-items-imgs{
	background: url(../images/矩形%20290.png) no-repeat;
	background-size: 100%;
	padding:0.066666rem;
	width: 4.426666rem;
	height: 2.72rem;
	display: flex;
	flex-wrap: wrap;
}
.campus-imgs-items-imgs>img{
	width: 50%;
	height: 1.28rem;
	/* background-color: red;	 */
}
.campus-imgs-items-imgs-con{
	height: 0.453333rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #333333;
	letter-spacing: 0.04rem;
	margin: 0.133333rem 0;
}
/* 简介 */
.index_synopsis{
	margin-top: 0.72rem;
	width: 100%;
	text-align: center;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	color: #666666;
	margin-bottom: 1.066666rem;
}
/* 固定的底部 */
.footer{
	width: 10rem;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 1.066666rem;
	opacity: 1;
	background: #3258e5;
	display: flex;
}
.footer>div:nth-child(1){
	border-right: 0.026666rem solid #FFFFFF;
}
.footer>div{
	flex: 1;
	display: flex;
	/* text-align: center; */
	justify-content: center;
	align-items: center;
}
.footer img{
	width: 0.413333rem;
	height: 0.386666rem;
	margin-right: 0.133333rem;
}
.footer-con{
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #ffffff;
	letter-spacing: 0.04rem;
}